<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">

    <!-- Rooms manage -->
    <div class="col-md-4 col-lg-4" style="padding-right: 30px; padding-left: 30px;">
        <!-- Add new room -->
        <div class="row">
            <h4 style="margin-top: 0px;">系统在添加一个房间</h4>
            <form action="/app/admin/addroom" method="post">
                <div class="form-group row">
                    <label class="col-sm-5 col-md-5 col-lg-5 col-form-label">房间名</label>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <input class="form-control" style="width: 100%;" type="text" name="roomName" required="true" placeholder="请输入房间名...">
                    </div>
                </div>

            	<input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="添加房间">
            </form>
        </div>

        <hr style="border-top: dotted 1px;" />

        <!-- Delete rooms -->
        <div class="row">
            <h4 style="margin-top: 0px;">在系统中删除房间</h4>
            <form action="/app/admin/deleterooms" method="post">
                <table id="rooms-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <!-- JavaScript works here! -->
                </table>

                <input class="btn btn-danger" style="float: right;" type="Submit" name="Submit" value="删除房间">
            </form>
        </div>
    </div>



<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/systemSettings.js"></script>
